
div.traPic
    ul#banner
div.introduction
    div.fu
        div.front
            div.frontHead 前端说明简介
            div.border-button
            div.frontContent 前端即网站前台部分,运行在PC端移动端等浏览器上展现给用户浏览的移动端等浏览器上展现给用户浏览的网页随着互联网技术的发展,HTML5, css3,前端框架的应用,跨前端框架的应用,跨平台响应式网页设计能够适应各种屏平台响应式网页设计能够适应各种屏幕分辨率合适的动效设计,给用户带来极高的用户体验。
        div.split
        div.ui
            div.uiHead ui说明简介
            div.border-button
            div.uiContent UI即User lnterface(用户界面)的简称,UI设计是指对软件的人机交互、操作逻辑、界面美观的整体设计。
div.display
    div.dis
        div.uidis
            img(src="../ui/uifrontPic/ui.png" style="width:80%")
        div.frontdis
            div.frontdis1
            div.frontdis2
div.div1
div.stuText
    div.txt
        span 学习资料专区
    div.bookPic
        img(src="../ui/uifrontPic/book1.jpeg")
        img(src="../ui/uifrontPic/book2.jpeg")
        img(src="../ui/uifrontPic/book3.jpeg")
        img(src="../ui/uifrontPic/book4.jpeg")
    div.https
        div.http1 https://www/bilibili.com/video/BV14J4114768?share_source=copy_web
        div.http2 https://www/bilibili.com/video/BV1Ng4y1v75i?share_source=copy_web
        div.text 学习资料：在线编译：菜鸟教程+书籍：入门+视频：黑马前端
div.contact
    img(src="../ui/uifrontPic/bk.jpg")
    div.qqCon
        div.s1 对我们感兴趣的话
        div.s2 可以contact us 
        div.s3 联系我们：2784247628@qq.com

