div.eav
    div.eav-dsiplay
        div.eav-logo
            img(src="../../img/logo.png" style="width:100%;")
        div.eav-name  WeiLy Lab
    div.eav-container
        ul.eav-list
            li.eav-content
                sapn 实验室简介
            li.eav-content
                sapn 获奖履历
            li.eav-content
                sapn 加入我们
            li.eav-content
                sapn 生活留念
            li.eav-content.drop
                sapn 实验室方向
                ul.eav-box
                    li  web前端
                    li  web后端
                    li  人工智能
                    li  &nbsp&nbsp&nbspu3d&nbsp&nbsp&nbsp&nbsp
