div.eav
    div.eav-dsiplay
        div.eav-logo
            img(src="../../img/logo.png" style="width:100%;")
        div.eav-name  WeiLy Lab
    div.eav-container
        ul.eav-list
            li.eav-content
                span 前端说明简介
            li.eav-content
                span ui说明简介
            li.eav-content
                span 效果展示
            li.eav-content
                span 前端项目简介
            li.eav-content.drop
                span 学习资料推荐
            li.eav-content.drop
                span 加入我们
                //- ul.eav-box
                //-     li  web前端
                //-     li  web后端
                //-     li  人工智能
                //-     li  &nbsp&nbsp&nbspu3d&nbsp&nbsp&nbsp&nbsp
