.eav {
  height: 200px;
  width: 100%;
  background-color: #b4e1ee;
  display: flex;
}
.eav-display {
  width: 40%;
  display: flex;
  justify-content: space-between;
}
.eav-logo {
    width:150px;
    height:150px;
    padding:25px;
    float:left;
    margin-left:100px;
    cursor: pointer;
}
.eav-name{
    width:250px;
    height:100px;
    padding:50px 20px;
    float:left;
    line-height:100px;
    font-size:40px;
    cursor: pointer;
}
.eav-container {
    width:60%;
    float:right;
    height:100px;
    margin:40px 0;
    padding:0 40px 0 0;
}
.eav-list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    height:100px;
    line-height:5px;
}
.eav-list li {
    list-style: none;
    display: inline-block;
}

.eav-content {
    color:#656464;
    font-size:20px;
    width:40%;
    height:30px;
    padding:35px 10px;
    cursor: pointer;
    position:relative;
}
.eav-content span:hover {
    color:#00ace8;
    font-size:25px;
    font-weight:bold;
}
.eav-box {
    width:180px;
    height:250px;
    background-color: #b4e1ee;
    border-radius: 15px;
    position: absolute;
    left:-30px;
    top:135px;
    align-type: center;
    display:none;
}
.eav-box li {
    font-size:25px;
    color:#656464;
    cursor: pointer;
    height:28px;
    padding:15px;
    line-height:28px;
    border-bottom: 1px solid #656464;
}
.eav-box li:hover {
    color:#00ace8;
    cursor: pointer;
    font-size:30px;
    font-weight:bold;
}
.drop {

}
.drop:after {
    content: "";
    display: block;

}
