div.eav
    div.eav-dsiplay
        div.eav-logo
            img(src="./img/logo.png" style="width:100%;")
        div.eav-container  WeiLy Lab 
    div.eav-box 
        ul  
            li.eav-content 实验室简介
            li.eav-content 获奖履历
            li.eav-content 加入我们
            li.eav-content 生活留念
            li.eav-content 实验室方向
